.form {
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
}

.form-body {
    text-align: left;
    padding: 20px 10px;
}

.form-row {
    padding: 10px 10px;
}

.form-label-div {
    width: 40%;
    display:inline-block;
}

.form-input-div {
    width: 60%;
    display:inline-block;
}

.footer{
    width: 69%;
    text-align: right;
}

.page-header {
    padding: 10px 10px;
    text-align: left;
    border-bottom: 1px solid #aaa;
}