.menu-wrapper {
    text-align:right;
}

.logoff-button {
    display:inline-block;
    padding: 10px 15px;
}

.menu {
    display:inline-block;
    font-size: 16px;
}

a {
    padding: 14px 25px;
}

a:visited {
    color: green;
}

a:hover, a:active {
    color: hotpink;
    text-decoration: underline;
}